<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{adminpage.css}">
    <title>adminpage</title>
</head>

<body>
    <header>
        <div>
            <img src="../../static/images/logo.png" alt="logo">
            <h1>Les flots Bleus</h1>
            <div class="admin-info">
                <p>Robert</p>
                <p>Boulard</p>
                <p>11/08/2002</p>
                <time>12H23</time>
            </div>
        </div>
        </div>
    </header>
    <main>
        <table>

        </table>
    </main>
</body>

</html>