<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head
  th:replace="htmlpagelien/pageslien :: headerlien">
</head>

<body>

   
    <!--Header Start-->
    <header>
    <div th:insert="htmlpagelien/pageslien :: navbarlien"></div>
        
         <div th:insert="htmlpagelien/pageslien :: adminnavbarlien"></div>
        
    </header>
    <!--Header End-->
     
        
     <main id="main">
     
        <section style="height:600px">
            <div class="container course pb-5 pt-5" >
             <button type="button" style="background-color:#4CAF50;float:right">Ajouter</button>
          <h3><strong>TYPE DE VOILIERS </strong></h3>
           
    
   <table style="border: 1px solid black; width:70%" >
                <thead style="background-color:#F4A261;color: Black">
                    <tr >
                        <th style="border: 1px solid black ;text-align:center" >Id de Type_Voilier</th>
                        <th style="border: 1px solid black;text-align:center">Nom de Type_Voilier</th>
                        <th style="border: 1px solid black;text-align:center; width:50%">Action</th>
                    </tr>
                   
                </thead>
                
                <tbody>
                    <tr th:each="typevoilier: ${type_voiliers}" >
                     
                        <td th:text="${typevoilier.id_type}" style="border: 1px solid black;text-align:center" ></td>
                        <td th:text="${typevoilier.nom_type}" style="border: 1px solid black;text-align:center"></td>
                        <td style="border: 1px solid black;text-align:center"><button type="button" style="background-color:#008CBA;">Modifier</button>
                        <button type="button" style="background-color:Red">Archieve</button></td>
                                            </tr>
                </tbody>
            </table>
    

</div>
  
    </section>
   </main>
     <!-- Footer -->
        <footer >
          
         <div th:insert= "htmlpagelien/pageslien :: footerlien"></div>  
</footer>

</body>

</html>