<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head
  th:replace="htmlpagelien/pageslien :: headerlien">
</head>

<body>

   
    <!--Header Start-->
    <header>
    <div th:insert="htmlpagelien/pageslien :: navbarlien"></div>
        
         <div th:insert="htmlpagelien/pageslien :: adminnavbarlien"></div>
        
    </header>
    <!--Header End-->
     
        
     <main id="main">
     
        <section>
            <div class="container course pb-5 pt-5" >
             <button type="button" style="background-color:#4CAF50;float:right">Ajouter</button>
     <h3><strong>DETAIL DE VOILIERS </strong></h3>
   <table style="border: 1px solid black; width:70%">
                <thead style="background-color:#F4A261;color: Black">
                    <tr >
                    <th style="border: 1px solid black;text-align:center">Id de Voilier</th>
                        <th style="border: 1px solid black;text-align:center">Nom de Voilier</th>
                        <th style="border: 1px solid black;text-align:center">Image de Voiliers</th>
                        <th style="border: 1px solid black;text-align:center">Annee de Construction</th>
                        <th style="border: 1px solid black;text-align:center">Largeur de Voiliers</th>
                        <th style="border: 1px solid black;text-align:center">Longeur de Voiliers</th>
                        <th style="border: 1px solid black;text-align:center">Nombre de Victoire</th>
                        <th style="border: 1px solid black;text-align:center; width:25%">Action</th>
           
                    </tr>
                   
                </thead>
                
                <tbody>
                    <tr th:each="voilier: ${voiliers}" >
                      <td style="border: 1px solid black;text-align:center" th:text="${voilier.id_voilier}" ></td>
                        <td  style="border: 1px solid black ;text-align:center"th:text="${voilier.nom_voilier}" ></td>
                         <td style="border: 1px solid black;text-align:center"><img th:src="@{${'/images/' + voilier.image_voilier}}" alt="voilierimage" width="100%" height="50%"></td>
                        <td style="border: 1px solid black;text-align:center" th:text="${voilier.const_annee}"></td>
                        <td style="border: 1px solid black;text-align:center" th:text="${voilier.largeur}"></td>
                       <td style="border: 1px solid black;text-align:center" th:text="${voilier.longeur}"></td>
                       <td  style="border: 1px solid black;text-align:center"th:text="${voilier.nb_victoire}"></td>
                           <td style="border: 1px solid black;text-align:center"><button type="button" style="background-color:#008CBA;">Modifier</button>
                        <button type="button" style="background-color:Red">Archieve</button></td>
                    </tr>
                </tbody>
            </table>
    

</div>
  
    </section>
   </main>
     <!-- Footer -->
        <footer >
          
         <div th:insert= "htmlpagelien/pageslien :: footerlien"></div>  
</footer>

</body>

</html>