/*import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');





body {
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    position: relative;
}

img {

    width: 80px;
    padding: 10px;
}

h1 {
    font-family: 'Roboto' sans-serif;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
    box-shadow: 1px 1px 1xx grey;

}

button:hover {
    color: #F4A261;
}



button {
    font-family: 'Roboto', sans-serif;
    background-color: #40698C;
    border-radius: 7px;
    color: #ffffff;
    transition: all 0.5s ease;
    height: 40px;
}

td {
    display: flex;
    justify-content: center;

}

tr {
    padding: 2px;
    display: flex;
    gap: 10px;
}

main {
    /* display: flex; */
    justify-content: space-between;
    align-items: flex-start;
    background-color: #49ADBA;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    border: solid 1px #F4A261;


}

table {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;


}

td,
th {
    border: solid 1px #F4A261;
    width: 100%;

}



th {
    font-family: 'Roboto', sans-serif;
}


footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}


/*class*/

.logotitle {
    display: flex;
    justify-content: flex;
    gap: 335px;
    font-family: 'Roboto', sans-serif;
    color: #49ADBA;
    background: #ffffff;
}

.equipe {
    display: flex;
    margin: 15px;
    gap: 15px;
}